.order-page {
    width: 100vw;
    min-height: calc(100vh - 80px);
    background-color: #FAF3F3;
    margin-top: 80px;
}

#none {
    height: calc(100vh - 85px);
    width: 100vw;
}

.order-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 30px 40px;
}

.order-section h3 {
    margin: 20px 0;
}

.order-table{
    background-color: white;
    width: 100%;
    text-align: left;
    padding: 10px;
}

.notification {
    color: white;
    font-size: 16px;
    font-weight: 700;
    background-color: green;
    width: 100%;
}

.notification p {
    padding: 10px 20px;
}

@media screen and (min-width: 414px) and (max-width: 767px) {
    .order-table thead tr th {
        font-size: 12px;
    }   
}