.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-info img {
    height: 100px;
    width: 100px;
    margin-right: 10px; 
}

.sub-info {
    display: flex;
    flex-direction: column;
}

.sub-info h3 {
    margin-bottom: 5px;
}

.item-price {
    font-weight: bold;
}