.ingredients {
    padding: 20px 40px;
    flex: 5;
    height: calc(100vh - 80px);
}

.ingredientsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredientExport, .ingredientInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.ingredientList {
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    height: 600px;
    width: 65%;
}